*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#0f172a;
    min-height:100vh;
    padding:30px;

}

.container{
    width:100%;
    max-width:1300px;
    margin:auto;
    background:#1e293b;
    padding:30px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,0.2);
        color:white;

}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.header h2{
    color:#2563eb;
    font-size:40px;
}

.logout-btn{
    background:#ef4444;
    color:white;
    padding:12px 20px;
    border-radius:10px;
    text-decoration:none;
}

.search-form{
    display:flex;
    gap:10px;
    margin-bottom:25px;
}

.search-form input{
    flex:1;
    padding:15px;
    border:2px solid #2563eb;
    border-radius:10px;
}

.search-form button{
    padding:15px 25px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:10px;
    cursor:pointer;
}

.student-table{
    width:100%;
    border-collapse:collapse;
}

.student-table th{
    background:#3b82f6;
    color:white;
    padding:15px;
}

.student-table td{
    padding:15px;
    text-align:center;
       color:white;
    border-bottom:1px solid #334155;
}

.student-table tr:hover{
  background:#334155;
}

.edit-btn{
    background:#10b981;
    color:white;
    padding:8px 12px;
    border-radius:8px;
    text-decoration:none;
}

.delete-btn{
    background:#ef4444;
    color:white;
    padding:8px 12px;
    border-radius:8px;
    text-decoration:none;
}

.cards{
    display:flex;
    gap:20px;
    margin-top:20px;
    flex-wrap:wrap;
}

.card{
    flex:1;
    min-width:250px;
    background:white;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 20px rgba(0,0,0,0.15);
}

.card h3{
    color:#666;
}

.card h1{
    color:#2563eb;
    margin-top:10px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 20px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    border-radius:10px;
}

.search-form{
    display:flex;
    gap:15px;
    margin-bottom:25px;
}

.search-form input{
    flex:1;
    padding:14px 18px;
    border:2px solid #2563eb;
    border-radius:10px;
    font-size:16px;
    outline:none;
    transition:0.3s;
}

.search-form input:focus{
    box-shadow:0 0 10px rgba(37,99,235,0.3);
}

.search-form button{
    width:150px;
    border:none;
    background:#2563eb;
    color:white;
    font-size:16px;
    font-weight:bold;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.search-form button:hover{
    background:#1d4ed8;
    transform:translateY(-2px);
}